.text-font {
  font-weight: bold;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.menu {
  position: fixed;
  top: 0px;
  right: 1%;
  background: transparent;
  border-bottom: 0px;

  .ant-menu-item {
    padding: 0px 7px 0px 7px !important;
  }

  .ant-menu-title-content {
    margin-left: 5px !important;
  }
}

.ant-menu {
  color: white;
  font-weight: 500;
}

.menu_blog_name {
  font-size: 1.2rem;
  padding-left: 2rem;
}
